<div class="container my-3">
  <div class="row">
    <div class="col">
      <h1 id="title">Entypo+ Icons for EmberJS</h1>

      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">To install this addon, run <code>ember install ember-entypo</code> within your Ember project.</p>
          <p class="card-text">For complete installation and usage information, visit the <a href="https://github.com/limit-zero/ember-entypo">GitHub repository</a>.</p>
          <p class="card-text"><strong>Note:</strong> This is merely a font wrapper addon for the <a href="http://www.entypo.com">411 carefully crafted premium pictograms by Daniel Bruce — CC BY-SA 4.0</a>.</p>
        </div>
      </div>
      <h2>Icon List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Example</th>
            <th>Name</th>
            <th>Usage</th>
          </tr>
        </thead>
        <tbody>
          {{#each icons as |icon|}}
            <tr>
              <td style="font-size: 2rem;">{{entypo-icon icon}}</td>
              <td class="align-middle">entypo-{{icon}}</td>
              <td class="align-middle"><code>{{"{{entypo-icon "}} "{{icon}}"{{"}}"}}</code></td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>




{{outlet}}
